<div id="home">

    <!-------------------- Order Status Information -------------------->
    <div class="order-placed container">
        <div>
            <div class="color-bubble"></div>
            <h3>Commande passée</h3>
        </div>
        <p>{{orderPlaced.length}}</p>
    </div>
    <div class="order-pending container">
        <div>
            <div class="color-bubble"></div>
            <h3>Commande en cours</h3>
        </div>
        <p>{{orderPending.length}}</p>
    </div>
    <div class="order-finish container">
        <div>
            <div class="color-bubble"></div>
            <h3>Commande terminée</h3>
        </div>
        <p>{{orderCompleted.length}}</p>
    </div>

    <!-------------------- Site Data -------------------->
    <div class="data-site">
        <div class="visits-today container">
            <div>
                <div class="color-bubble"></div>
                <h3>Nombre de visites ce jour-ci</h3>
            </div>
            <p>12</p>
        </div>
        <div class="average-time container">
            <div>
                <div class="color-bubble"></div>
                <h3>Temps moyen sur le site</h3>
            </div>
            <p>12min 48s</p>
        </div>
    </div>

    <!-------------------- Sell on last 30 days (Chart) -------------------->
    <div class="chart container">
        <div>
            <h3>Ventes réalisés sur</h3>
            <div>
                <input type="radio" name="sell-filter" id="week-sell" value="7" checked>
                <label for="week-sell">7j</label>
                <input type="radio" name="sell-filter" id="double-week-sell" value="14">
                <label for="double-week-sell">14j</label>
                <input type="radio" name="sell-filter" id="month-sell" value="30">
                <label for="month-sell">30j</label>
            </div>
        </div>
        <div>
            <canvas id="chart"></canvas>
        </div>
    </div>

    <!-------------------- Money generated -------------------->
    <div class="money-generate container">
        <input type="radio" name="money-generate-filter" id="day-money-generate" checked>
        <input type="radio" name="money-generate-filter" id="week-money-generate">
        <input type="radio" name="money-generate-filter" id="month-money-generate">
        <div class="title">
            <div class="color-bubble"></div>
            <div>
                <h3>Argent généré sur : </h3>
                <div>
                    <label class="day-money-generate" for="day-money-generate">1j</label>
                    <label class="week-money-generate" for="week-money-generate">7j</label>
                    <label class="month-money-generate" for="month-money-generate">30j</label>
                </div>
            </div>
        </div>
        <div class="value">
            <p class="day-money-generate">$124.48</p>
            <p class="week-money-generate">$907.78</p>
            <p class="month-money-generate">$4 341.73</p>
        </div>
    </div>

    <!-------------------- Data Order -------------------->
    <div class="data-order">
        <div class="last-order container">
            <div class="title">
                <div class="color-bubble"></div>
                <h3>Dernières commandes</h3>
            </div>
            <div class="orders">
                <div class="order" *ngFor="let order of recentOrders">
                    <div>
                        <img src="../../../assets/pictures/users/{{getUser(order.userId)?.pictureFileName}}" alt="Photo de profil de {{getUser(order.id)?.name}}" width="40" height="40">
                    </div>
                    <div>
                        <p>#45843</p>
                        <p>$48.73</p>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <a routerLink="/orders">Voir plus</a>
            </div>
        </div>
        <div class="most-saw-products container">
            <div class="title">
                <div class="color-bubble"></div>
                <h3>Produits les plus regardés</h3>
            </div>
            <div class="products">
                <div class="product" *ngFor="let product of bestProducts, index as i">
                    <div>
                        <p>#{{i + 1}}</p>
                    </div>
                    <div>
                        <p>{{product.name}}</p>
                    </div>
                    <span class="icon-next"></span>
                </div>
            </div>
            <div class="see-more">
                <a routerLink="/products">Voir plus</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>