@media screen and (max-width:1200px) {

    .order-id,
    .header:nth-child(1) {
        min-width: 60px !important;
        width: 60px !important;
    }

    .order-user {
        min-width: 150px !important;

        >p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }

    .order-products {
        padding-inline: 10px !important;
    }

    .header:nth-child(3) {
        width: 150px !important;
    }
}

@media screen and (max-width:900px) {
    #orders {
        padding: 20px;
    }
    .header:nth-child(4){
        width: 125px !important;
    }
    .header:nth-child(5){
        width: 65px !important;
    }
    .order-state {
        min-width: 125px !important;

        >p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
    .order-price {
        min-width: 65px !important;
    }
}

@media screen  and (max-width: 750px){
    #orders{
        width: auto;
        max-width: calc(100vw);
    }
}

@media screen and (max-width: 600px){
    #orders {
        padding: 10px;
    }
    .header:nth-child(4){
        width: 40px !important;
        justify-content: center;

        >p{
            display: none;
        }
        >.arrow{
            right: auto !important;
        }
    }
    .order-state {
        min-width: 40px !important;

        >p {
            display: none;
        }
    }
    .header:nth-child(3){
        width: 55px !important;
        justify-content: center;

        >p{
            display: none;
        }
        >.arrow{
            right: auto !important;
        }
    }
    .order-user {
        min-width: 55px !important;

        >p {
            display: none;
        }
    }
}

@media screen and (max-width: 500px){
    input#orders-search{
        width: 100% !important;
    }
    
}