<div id="orders">
    <input type="text" id="orders-search" placeholder="Rechercher par nom d'utilisateur">
    <div class="filter">
        <p>Trier par :</p>
        <div>
            <input type="radio" name="orders-filter-type" id="most-recent" checked>
            <label for="most-recent">Plus récente</label>
            <input type="radio" name="orders-filter-type" id="most-older">
            <label for="most-older">Plus ancienne</label>
            <input type="radio" name="orders-filter-type" id="user-name">
            <label for="user-name">Nom d'utilisateur</label>
            <input type="radio" name="orders-filter-type" id="state">
            <label for="state">Etat</label>
            <input type="radio" name="orders-filter-type" id="price">
            <label for="price">Prix</label>
        </div>
    </div>
    <div class="orders-table">
        <div class="head-table">
            <p>Id</p>
            <p>Articles commandés</p>
            <p>Acheteur</p>
            <p>Etat</p>
            <p>Prix</p>
        </div>
        <div class="orders">
            <div class="order">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <p></p>
                </div>
                <div>
                    <div></div>
                    <p></p>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>