#orders {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: calc(100vw - 200px);
    height: 100vh;
    gap: 25px;

    >input#orders-search {
        width: 400px;
        border-radius: 50px;
        background-color: #0F356B;
        padding: 10px 15px;
        border: none;
        font-weight: 500;

        &:focus-visible,
        &:focus {
            border: solid 3px #4A5FD9;
            outline: none;
            margin: -3px;
        }
    }

    >.orders-table {
        display: flex;
        flex-direction: column;
        gap: 25px;

        >.head-table {
            display: flex;
            align-items: center;
            height: 50px;
            border-bottom: solid 2px white;


            >.header {
                padding: 10px;
                position: relative;
                display: flex;
                align-items: center;
                height: 50px;

                &:not(:last-child) {
                    border-right: solid 2px white;
                }

                &:not(:first-child) {
                    border-left: solid 2px white;
                }

                &:nth-child(1),
                &:nth-child(5) {
                    width: 100px;
                    text-align: center;
                }

                &:nth-child(2) {
                    flex: auto;
                }

                &:nth-child(3) {
                    width: 250px;
                }

                &:nth-child(4) {
                    width: 150px;
                }

                >p {
                    font-weight: 500;
                }

                >.arrow {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 10px;
                    gap: 3px;

                    >input {
                        display: none;

                        &:checked+label>span {
                            color: white;
                        }
                    }

                    >label {
                        height: 10px;
                        display: flex;

                        >span {
                            font-size: 10px;
                            height: 10px;
                            color: #707070;
                            cursor: pointer;
                            transition: all 0.2s;

                        }

                        &:nth-child(4) {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        >.orders {
            display: flex;
            flex-direction: column;
            align-items: center;

            >.order {
                display: flex;
                height: 50px;
                width: 100%;
                align-items: center;
                border-top: solid 1px #0f63af80;

                >* {
                    padding-inline: 10px;
                }

                >.order-id {
                    min-width: 100px;
                    text-align: center;
                }

                >.order-products {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    padding-right: 25px;
                    flex: auto;
                }

                >.order-user {
                    min-width: 250px;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }

                >.order-state {
                    min-width: 150px;
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    >div {
                        border-radius: 100%;
                        height: 20px;
                        min-width: 20px;
                        max-width: 20px;

                        &.order-placed {
                            background-color: #2B92F1;
                        }

                        &.order-pending {
                            background-color: #F67D0D;
                        }

                        &.order-completed {
                            background-color: #23B516;
                        }
                    }
                }

                >.order-price {
                    min-width: 100px;
                }

                &:hover {
                    background-color: #ffffff15;
                    cursor: pointer;
                }

                &:last-child {
                    border-bottom: solid 1px #0f63af80;
                }
            }
        }
    }
}