<div>
    <nav>
        <div class="profil">
            <div class="profil-picture">
                <img src="assets/pictures/profil.jpg" alt="Photo de profil" width="100" height="100">
            </div>
            <p class="welcome">Bienvenue</p>
            <p class="user-name">FoxySnake</p>
        </div>
        <ul>
            <li><a class="active" routerLink="home"><span class="icon-home"></span>Accueil</a></li>
            <li><a routerLink="orders"><span class="icon-livraison"></span>Commandes</a></li>
            <li><a routerLink="products"><span class="icon-service-client"></span>Produits</a></li>
            <li><a routerLink="users"><span class="icon-service-client"></span>Utilisateurs</a></li>
            <li><a routerLink="settings"><span class="icon-setting"></span>Paramètres</a></li>
        </ul>
        <div>
            <div class="signout">
                <a href=""><span class="icon-logout"></span>Déconnexion</a>
            </div>
        </div>
    </nav>
</div>